/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
  font-family: "Gothic3";
  src: url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.eot");
  src: url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.svg#Gothic3")format("svg");
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */
:root {
  --scroll-bar-size: 1.5vh ;

}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: var(--scroll-bar-size); /* Szerokość paska przewijania vh - view height */
  height: var(--scroll-bar-size);
  background-color: #333; /* Kolor tła paska przewijania */
}

::-webkit-scrollbar-thumb {
  background-color: #666; /* Kolor kciuka */
  border-radius: 2px; /* Zaokrąglenie kciuka */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Kolor kciuka po najechaniu myszą */
}

::-webkit-scrollbar-track {
  background-color: #222; /* Kolor tła scrollbara */
}

::-webkit-scrollbar-corner {
  background-color: #222;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

canvas {
  /*border: 1px solid black ;*/
  background: #ffdf98;
}

body {
  cursor: url("../img/cursor_final.png"), auto;
  font-family: Gothic3, Arial;
  width: 2048px;
  height: 1536px;
  margin: 0;
  padding: 0;
}

body.active {
  cursor: url("../img/cursor_outline_yellow.png"), pointer;
}

#upperBar {
  position: fixed;
  top: 0; /* Przyklejony do góry ekranu */
  width: 100vw; /* Szerokość elementu będzie równa szerokości ekranu */
  height: 5vh;
  display: flex;
  justify-content: space-between;
  background-image: url("../img/medieval-scroll.jpg");
  background-size: cover; /* Dopasowanie obrazu do wielkości elementu */
  background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazu */
  background-color: #333; /* Przykładowy kolor tła */
  color: #fff; /* Przykładowy kolor tekstu */
  /*padding: 1vh; !* Odstępy wewnątrz elementu *!*/
  z-index: 1000; /* Poziom nakładania, aby element był zawsze na wierzchu */
  box-shadow: 0px 0px 3vh rgba(236, 218, 90, 0.7); /* Płynny cień */
}

.stat {
  display: flex;
  justify-content: space-between;
}

.stat-center {
  display: flex;
  justify-content: space-between;
  transform: translate(-55%, 0%);
}

.stat-text {
  margin: 10%;
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-self: center;
  white-space: nowrap;
}

.stat-text-left {
  margin-left: 10%;
  margin-right: 4%;
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-self: center;
  white-space: nowrap;
}

#coins_var {
  margin-left: 0.5vw;
}

#date_var {
  font-size: 3vh;
  white-space: nowrap;
  align-self: center;
}

.left-upper-image {
  margin: 0.6vh;
}

.center-upper-image {
  margin: 0.2vh;
}

.right-upper-image {
  margin-right: 6vh;
  margin-top: 0.6vh;
  margin-bottom: 0.6vh;
  right: 0;

}

.button {
  background-image: url("../img/medieval-scroll.jpg");
  background-size: cover; /* Dopasowanie obrazu do wielkości elementu */
  background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazu */
  width: 10vw;
  border-radius: 0.5vh;
  border-width: 0.1vh;
  color: black;
  font-weight: bold;
  text-align: center;
  display: flex;
  white-space: nowrap;
  font-family: Gothic3;
  font-size: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  cursor: url("../img/cursor_outline_yellow.png"), pointer;
}



#sideMenu {
  width: 30vw;
  height: 90vh;
  position: fixed;
  top: 0;
  right: -50vw;
  background-color: #333;
  transition: right 0.3s;
  margin: 0.5%;
  margin-top: 2.3vw;
  border-radius: 0.5vw;
  background-image: url("../img/medieval-scroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 3vh rgba(236, 218, 90, 0.6); /* Płynny cień */
}

#sideMenu img {
  background-color: transparent;
  width: 10%;
  height: 8%;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 3%;
}

#sideMenu p1 {
  /*font-family: Gothic3;*/
  font-weight: bold;
  font-size: 5vh;
  display: flex;
  margin: 3%;
}

#sideMenu div {
  font-size: 2.5vh;
  color: white;
  margin: 3%;
  width: 20vw;
  border: 1px solid black;
}


#sideMenu ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

#sideMenu ul li {
  height: 2vw;
  padding: 0.5vw;
  border-bottom: 0.2vw solid #555;
}

#sideMenu ul li a {
  font-size: 2.5vh;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#characterCard {
  width: 90vw;
  height: 90vh;
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #333;
  transform: translateY(150%); /* Ukryj menu za pomocą transformacji */
  transition: transform 0.3s ease; /* Animacja wysuwania */
  margin: 0.5%;
  margin-left: 5vw;
  border-radius: 0.5vw;
  background-image: url("../img/medieval-scroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 3vh rgba(236, 218, 90, 0.6); /* Płynny cień */
  z-index: 1000;
}

#characterCard.active {
  transform: translateY(0); /* Pokaż menu za pomocą transformacji */
}

#characterCard img {
  background-color: transparent;
}

.link {
  cursor: url("../img/cursor_outline_yellow.png"), pointer;
}

#currentTime {
  align-self: center;
  font-size: 3vh;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

